body {
	font-family: 'Museo Sans 300';
	color: #1D1D39;
	background-color: #E5E5E5;
}

h1 {
	font-size: 36px;
	line-height: 48px;
}

a {
	text-decoration: none;
	color: #039BE6;
	font-size: 14px;

}

p {
	font-size: 16px;
	line-height: 28px;
}

.thin {
	font-size: 14px;
	color: #333333;
	line-height: 26px;
}

button {
	font-size: 14px;
	color: #FFFFFF;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	width: 190px;
	height: 60px;
	background-color: #03973D;
}

.container {
	width: 1160px;
	margin: auto;
}
.navbar {
	background-color: #FFFFFF;
}

.navbar-wrap {
	display: flex;
	align-items: center;
	min-height: 90px;
}

.logo {
	flex: 4;
}

.navbar ul {
	flex: 12;
	display: flex;
}

.navbar ul li {
	float: left;
	align-items: center;
	list-style: none;
	justify-content: space-between;
	flex: 2;
}
.navbar ul li:last-child {
	float: left;
	align-items: center;
	list-style: none;
	justify-content: space-between;
	flex: 7;
}
.navbar ul li a {
		color: #1D1D39;
		line-height: 28px;
		font-size: 16px;
}
.navbar ul li a:hover {
	color: #039BE6;
}

.login {
	flex: 1;
	max-width: 100px;
	background-color: #039BE6;
	height: 40px;
}

.care {
	background-color: #F2F3F8;
	min-height: 360px;
	display: flex;
}

.care h1 {
	margin: auto;
	text-align: center;
}

.brief-wrap {
	display: flex;
	align-items: center;
	width: 734px;
	height: 175px;
	margin: auto;
	background-color: #FFFFFF;
	margin-top: -80px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 50px;
}

.brief {
	width: 690px;
	display: flex;
	padding: 40px;
}

.left-brief {
	flex: 2;
	line-height: 28px;
}

.right-brief {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.right-brief button {
	margin: auto;
}

.right-brief a {
	color: #039BE6;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	margin: auto;
}

.corner {
	width: 44px;
	height: 175px;
	background-color: #FFFFFF;
	border-bottom-left-radius: 44px;
	background: linear-gradient(to bottom, #F2F3F8 80px, #E5E5E5 0);
}

.main {
	padding-top: 180px;
	background-color: #E5E5E5;
}

.main-wrap {
	display: flex;
	margin-top: 80px;
	justify-content: space-between;
}

.main__item {
	padding-top: 80px;
	max-width: 340px;
}

#imac {
	background: no-repeat url('../images/imac.png');
}


#student {
	background: no-repeat url('../images/student.png');
}

#stats {
	background: no-repeat url('../images/stats.png');
}

.main__footer {
	display: flex;
	padding-top: 180px;
	padding-bottom: 180px;
	justify-content: space-between;
}

.macbook {
	flex: 1;
	background: no-repeat url('../images/macbook.png');

}

.main__content {
	flex: 1;
}

.main__content p {
	max-width: 470px;
}

.options {
	display: flex;
	margin-top: 40px;
	align-items: center;
}

.options a {
	margin-left: 40px;
}

.scheme {
	background-color: #F2F3F8;
	padding-top: 120px;
	padding-bottom: 120px;
 }

.scheme-wrap {
	display: flex;
	align-items: center;
 	justify-content: space-between;
}

.scheme__item:nth-child(1) {
	background: no-repeat url("../images/arrow.png"); 
	background-position: 250px 0;
  	flex: 3;
 }
 
.scheme__item:nth-child(2) {
	background: no-repeat url("../images/arrow2.png");
 	background-position: 125% 50%;
	flex: 2;
}

.scheme__item:nth-child(3) {
	background: no-repeat url("../images/arrow2.png");
 	background-position: -30px 50%;
	flex: 2;
}
 
.scheme__item:nth-child(2) p {
	max-width: 285px;
 	/* float: right; */
}

.scheme__item:nth-child(3) p {
	max-width: 230px;
	float: right;
}

.scheme h1 {
	max-width: 365px;
	margin: auto 0;
}

.scheme button {
	margin-top: 40px;
}

.footer {
	background-color: #222A35;
}


.footer__navbar {
	display: flex;
	align-items: center;
	min-height: 140px;
	border-bottom: 2px rgba(196, 196, 196, 0.1) solid;
	justify-content: space-between;
}

.footer__navbar ul {
	display: flex;
	flex: 1;
	justify-content: space-between;
	padding: 0;
}

.help {
	text-align: center;
	flex: 1;
	background: no-repeat 320px top url("../images/newwindow.png");
}

.footer__navbar ul li {
	float: left;
}

.contacts {
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.phone {
	color: #F4F4F4;
	line-height: 28px;
}

.city {
	color: #828282;
	line-height: 26px;
}

.props {
	display: flex;
	flex-direction: column;
}

.props a {
	line-height: 26px;
}

.icons {
	display: flex;
	align-items: center;
}

.icons img {
	padding: 10px;
}

.rights {
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 24px;
}

.rights p {
	color: #484B50;
	font-size: 13px;
}

.rights a {
	font-size: 13px;
}

@font-face {
	font-family: 'Museo Sans 300';
	src: url('../fonts/MuseoSansCyrl-300.eot');
	src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
	url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}